.container {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

section {
  flex: 1 0 100%;
  display: flex;
  font-size: 3rem;
  padding: 0 1rem;
  font-weight: 300;
  scroll-snap-align: start;
}

@media only screen and (min-width: 768px) {
  section {
    font-size: 5rem;
  }
}

.sectionOne {
  color: var(--light);
  background-color: var(--dark);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionTwo {
  color: var(--dark);
  background-color: var(--light);
  justify-content: flex-start;
  text-align: left;
}

.sectionThree {
  color: var(--light);
  background-color: var(--dark);
  justify-content: flex-start;
  text-align: left;
}

ul {
  padding: 1rem 0 0 0;
  list-style-type: none;
}

li {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  li {
    font-size: 5rem;
  }
}

footer {
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  z-index: 1;
  height: 3rem;
  padding-left: 1rem;
}

header {
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1;
  height: 3rem;
  padding-left: 1rem;
}

a {
  margin-right: 3rem;
  color: var(--light);
}
